<div class="sidebar-wrapper">
    <ul class="nav">
      <li class="{% if request.path == 'home_page' %}active{% endif %}">
        <a href="{% url 'home_page' %}">
          <i class="nc-icon nc-bank"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <hr>
      <li class="{% if request.path == 'applicant_details' %}active{% endif %}">
        <a href="{% url 'applicant_details' %}">
          <i class="nc-icon nc-diamond"></i>
          <p>Applicant Details</p>
        </a>
      </li>
      <hr>

      <li>
        <a href="{% url 'logoutUser' %}">
          <i class="nc-icon nc-spaceship text-danger"></i>
          <p class="logout text-danger">Logout</p>
        </a>
      </li>
      <hr>
    </ul>
  </div>
</div>